<nav class="top-navbar">
    <div class="top-navbar-logo">
        <img src="assets/logo.png" alt="logo"/>
    </div>
    <div class="top-navbar-welcome-user">
        <p>Welcome {{user}}</p>
        <a class="top-navbar-logout" href="/#!/login">Logout</a>
    </div>
</nav>
<div class="top-navbar-menu">
    <ul class="top-navbar-menu-items">
        <li class="top-navbar-menu-item"><a href="/#!/under-construction" style="color: white">Demo's home</a></li>
        <li class="top-navbar-menu-item"><a href="/#!/home" style="color: white">People's directory</a></li>
        <li class="top-navbar-menu-item"><a href="/#!/under-construction" style="color: white">Jobs manager</a></li>
        <li class="top-navbar-menu-item"><a href="/#!/under-construction" style="color: white">Statistics</a></li>
    </ul>
</div>
<br>
<div class="container">
    <div style="display: flex;justify-content: center">
        <img src="https://media.istockphoto.com/photos/barrier-under-construction-picture-id1139968862?k=20&m=1139968862&s=170667a&w=0&h=NtLflrfnQAvKl-cRAcIDDSfFmT17Ry26GubcxmmQ-xg="
             alt="uc"/>
    </div>
</div>
